.projects-page .project-squares-container{
    margin: 0;
}

.projects-page, .project-page, .page-container {
    background-image: linear-gradient($med-blue, #bfdedd);
}

.projects-page-title {
    background-color: white;
    padding: 10vh 0 10vh 0;
    margin: 0 30px 0 30px;
    h1 {
        font-family: $header-font;
        font-size: 4em;
        margin: 0;
        padding: 0;
        text-align: center;
        color: #495057;
    }
}

.page-container .squares {
    margin: 0 30px 0 30px;
    width: auto;
}

@media only screen and (max-width:600px){
    .page-container .squares, .projects-page-title {
        margin: 0;
    }
}

.project-detailed {
    margin: 0 30px 0 30px;
    background-color: white;
    @media only screen and (max-width:600px){
        margin: 0;
    }

    .title {
        width: 100%;
        padding: 20vh;
        background-size:cover;
        background-position: center;
        background-attachment: fixed;
        @media only screen and (max-width:600px){
            padding:20vh 0 20vh 0;
        }
        h1 {
            text-align: center;
            font-size: 5em;
            font-family: $header-font;
            color:white;
            text-shadow: 0 0 4px black;
            @media only screen and (max-width:600px){
                font-size: 3em;
            }
        }
    }
    .title.bloguru{
        background-image: 
        linear-gradient(to left, rgba(50,50,50,0.6), rgba(50,50,50,0.6)),
        url(/images/projects/dillon-shook-mY3_bvR74fI-unsplash.jpg);
    }
    .title.helpdesk{
        background-image: 
        linear-gradient(to left, rgba(50,50,50,0.6), rgba(50,50,50,0.6)),
        url(/images/projects/julian-hochgesang-Dkn8-zPIbwo-unsplash.jpg);
    }
    .title.psp-pilot{
        background-image: 
        linear-gradient(to left, rgba(50,50,50,0.6), rgba(50,50,50,0.6)),
        url(/images/projects/avel-chuklanov-b1qpD3bhPOc-unsplash.jpg);
    }
    .title.jtrack{
        background-image: 
        linear-gradient(to left, rgba(50,50,50,0.6), rgba(50,50,50,0.6)),
        url(/images/projects/ryan-de-hamer-pCT8ag1o3nU-unsplash.jpg);
    }
    .title.portfolio {
        background-image: 
        linear-gradient(to left, rgba(50,50,50,0.6), rgba(50,50,50,0.6)),
        url(/images/projects/magdalena-smolnicka-Y-G8GwcyOss-unsplash.jpg);
    }
    .content {
        p ul li{
            list-style-type: none;
            padding: 5px 0 5px 0;
            margin-left: -40px;
        }
        padding: 5vh 40px 20vh 40px;
        .project-footer {
            text-align: center;
            h4, h3 {
                color:gray;
            }
            h4 {
                font-size: 0.9em;
                font-weight: 700;
            }
        }  
    }
    .jtrack-slides-container {
        padding-bottom: 10vh;
    }
}


.portfolio {
    img.header-img {
        margin: -360px 0px 0px 0px;
    }
}

.jtrack {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    img.header-img {
        margin: -160px 0px 0px 0px;
    }
    .jtrack-slides {
        width: 400px;
        background-color: gray;
    }    
    .jtrack-slide {
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        img {
            width:200px;
            height:400px;
        }
    }
}
