.projects-page .project-squares-container{
    margin-top: 0px;
    margin-bottom:0px;
}

.projects-page, .project-page {
    background-image: linear-gradient(lightblue, $med-blue);
}

.project-detailed {
    margin: 0 30px 0 30px;
    background-color: white;
    .title {
        width: 100%;
        padding: 20vh;
        background-size:cover;
        background-position: center;
        h1 {
            text-align: center;
            font-size: 5em;
            font-family: $header-font;
            color:white;
            text-shadow: 0 0 4px black;
            @media only screen and (max-width:600px){
                font-size: 3em;
            }
        }
    }
    .title.bloguru{
        background-image: 
        linear-gradient(to left, rgba(50,50,50,0.6), rgba(50,50,50,0.6)),
        url(/images/projects/dillon-shook-mY3_bvR74fI-unsplash.jpg);
    }
    .title.helpdesk{
        background-image: 
        linear-gradient(to left, rgba(50,50,50,0.6), rgba(50,50,50,0.6)),
        url(/images/projects/julian-hochgesang-Dkn8-zPIbwo-unsplash.jpg);
    }
    .title.psp-pilot{
        background-image: 
        linear-gradient(to left, rgba(50,50,50,0.6), rgba(50,50,50,0.6)),
        url(/images/projects/avel-chuklanov-b1qpD3bhPOc-unsplash.jpg);
    }
    .title.jtrack{
        background-image: 
        linear-gradient(to left, rgba(50,50,50,0.6), rgba(50,50,50,0.6)),
        url(/images/projects/ryan-de-hamer-pCT8ag1o3nU-unsplash.jpg);
    }
    .content {
        padding: 0 40px 20vh 40px;
        .project-footer {
            h4 {
                font-size: 0.9em;
                font-weight: 700;
                color:gray;
            }
        }
        .jtrack-slides-container {
            width:100%;
            display:flex;
            justify-content:center;
        }
    }
}


.portfolio {
    img.header-img {
        margin: -360px 0px 0px 0px;
    }
}

.jtrack {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    img.header-img {
        margin: -160px 0px 0px 0px;
    }
    .jtrack-slides {
        width: 400px;
        background-color: gray;
    }    
    .jtrack-slide {
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        img {
            width:200px;
            height:400px;
        }
    }
}
