/* About Me Page Styles */


.about-body{
    background: #000;
    color:white;
    padding:0px;
    margin:0px; 
    display:flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .about-body {
        background: #000;
        color:white;
        padding:0px;
        margin:0px;
        display:flex;
        flex-direction: column;
        align-items: center;
    }

}

.about-body hr {
    width:100%;
    color: #753335;
}
.about-table {
    min-width: 500px;
    max-width: 800px;
    margin-bottom: 50px;
}

.about-row, .myworks-row {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    align-content:center;
    flex-wrap:wrap;
}

.about-body img {
    width: 200px;
    height: 200px;
    background: #2B2226;
    padding: 20px;
}

.aboutme-img img {
    background: #3C6E71;
}

.aboutme-img {
    text-align: right;
    margin-right: 20px;
}
.aboutme-cell {
    text-align: left;
    max-width: 400px;
    padding-right: 20px;
 
}
.myworks-cell {
    text-align: right;
    max-width: 400px;
    padding-left: 20px;
    padding-bottom: 20px;
}
.myworks-img {
    text-align: left;
    margin-left: 20px;
}

.about-body .nextpage-container {
    color: #fff;
    text-decoration: none;
    margin-top: 30px;
    margin-bottom: 20px;
}

.about-body .nextpage-link {
    background: #3C6E71;
    color: #D3D0CB;
    padding: 10px;
    padding-left: 70px;
    padding-right: 70px;
    font-size: 1.5em;
    text-decoration: none;
    font-family: "Roboto" sans-serif;
    font-weight: 100;
    text-shadow: 0px 0px #000;
}

.about-body .nextpage-link:hover {
    color: #fff;
}

.about-body h4 {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}

.color-block-left, .color-block-right {
    width: 150px;
    height: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.color-block-left {
    float:left;
    background: #753335;
}

.color-block-right {
    float: right;
    background: #8AEA92;
}

@media only screen and (max-width: 600px) {
    .aboutme-cell, .myworks-cell {
        width:300px;
    }
    .about-body{
        margin-top: 50px;
    }
}