/* Contact Page Styles */

.contact-body {
    min-height: 100%;
    background: #171010;
}

.contact-container {
    min-height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-table {
    max-width: 800px;
    min-width: 400px;
    background: #2B2226;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items:center;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0px 5px 5px 0px #000;
}

.contact-text {
    min-width:300px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.contact-table h1 {
    font-family: "Roboto" sans-serif;
    font-weight: 100;
    color: #D3D0CB;
    text-shadow: 3px 0px #753335;
    margin-bottom: 5px;
    padding: 0;
}


.contact-table p {
    margin: 10px;
    padding-bottom:20px;
    max-width: 300px;
    color: #D3D0CB;
}

.contact-table hr {
    color: #753335;
    border-top: 1px solid #753335;
}

.contact-table ul {
    list-style-type: none;
}

.contact-table li {
    text-align: left;
}

.social-links {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom:20px;
}

.contact-table .social-links a {
    font-size: 4em;
    color: #3C6E71;
    padding: 20px;
}

.contact-table .social-links a:hover {
    color: #D3D0CB;
}

.contact-table img {
    align-self: center;
    width: 400px;
    min-width: 300px;
    
}

.red-color-bar {
    width: 200px;
    height: 5px;
    background: #753335;
    align-self: center;
}

.red-color-bar.bottom {
    margin-bottom:30px;
}

@media only screen and (max-width: 1024px){
    .contact-table img {
        display:none;
    }
    .contact-table {
        display:block;
        margin-top: 50px;
        margin-left:10px;
        margin-right:10px;
        margin-bottom:70px;
        min-width: 250px;
    }
    .contact-container {
        margin-top: 50px;
    }
}
