/* Landing Page Styles */


.landing-background {
    background: url("../images/flower.jpg");
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 3px;
    min-width: 100%;
    min-height: 100%;
    overflow:hidden;
    z-index: -1;
}

.landing-body {
    height:100%;
    color: #D3D0CB;
    padding:0px;
    margin:0px;
    border-top: none;
}

.landing-content {
    margin-top:70px;
    z-index: 2;
    margin-bottom: 10px;
    display:flex;
    flex-direction: column;
    background-color: none;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}


.landing-body .nextpage-link {
    background: #9BD1E5;
    padding: 10px;
    margin-top:20px;
    margin-left: 90px;
    width: 350px;
    box-shadow: 0px 2px 2px 0px #3C6E71;
}

.landing-body .nextpage-link a {
    font-size: 1.4em;
    font-family: "Roboto" sans-serif;
    font-weight: 700; 
    text-shadow: 0px 0px #000;
    text-decoration: none;
    margin-right:10px;
    border-radius: 2;
    padding:10px;
    color: #3C6E71;
}

.landing-body .nextpage-link:hover {
    background: #9fdef5;
    color: #49888c;
}


.circles-background h1 {
    font-size: 6em;
    font-family: "Roboto" sans-serif;
    font-weight: 100;
    color: #FFFFFF;
    text-shadow: 3px 0px #3C6E71;
    white-space: nowrap;
    margin:0;
    margin-top: 10px;
    padding:0;
    margin-left: 80px;

}

.circles-background {
        width: 100%;
        height: 135px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: nowrap;
        justify-content: center;
}

.landing-content h4 {
    color: #D3D0CB;
    text-shadow: 1px 0px #3C6E71;
    margin-left: 90px;
    margin-top: 0;
    align-self: flex-start;
    text-align: center;
}


  


@media only screen and (max-width: 1024px){
    .circles-background {
        align-items: center;
        justify-content: flex-end;
        background: none;
        height:120px;
    }
    .circles-background h1 {
        font-size: 4em;
        margin: 10px;
        padding: 0px;
        margin-bottom: 20px;
        margin-top: 0px;
    }
    .landing-content h4 {
        margin-right: 0px;
        margin-top: -10px;
        font-size: 20px;
        margin-left: 0;
        margin-right: 0;
        align-self: center;
    }
    .landing-content {
        margin-top:120px;
        align-items: center;
        justify-content: center;
    }
    .landing-body .nextpage-link {
        width: 240px;
        text-align: center;
        align-self: center;
        margin-right:0px;
        margin-left:0px;
    }
}