/* Main layout styles, to be used across all pages */

.layout-header {
  background: rgba(0,0,0,0) !important;
  border: none;
}

body {
  background: transparent;  /* fallback for old browsers */
  background: #fff5b3;
  /*
  background: -webkit-linear-gradient(to top left, #FFFFFF, #fff5b3);
  background: linear-gradient(to top left, #FFFFFF, #fff5b3);
  */
}

.layout-header, .layout-header a, .layout-drawer a:hover,
.layout-drawer a, .layout-drawer a:hover {
  color: #353535;
}

.mdl-layout__header-row .mdl-navigation__link, .mdl-layout__drawer-button {
  color: #353535 !important;
}

@media only screen and (max-width: 1024px){
  .routing-body{
    margin-top:50px;
  }
}

.layout-drawer a {
  text-decoration: none;
  font-family: "Roboto" sans-serif;
}


.drawer-navigation {
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 80%;
}

.drawer-title {
  font-size: 2em;
  padding: 0;
  margin-bottom: -10px;
  margin-top: 30px;
  flex-grow: 0.5;
}

.nav-color-bar {
  width: 150px;
  height: 2px;
  background: #FCAF58;
  margin: 0 !important;
  padding: 0 !important;
  align-self: center;
  justify-self: flex-start;
}

.nav-color-bar:hover {
  background: #FCAF58 !important;
}

.drawer-links-list {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-grow: 3;
  text-align:left;
}
.drawer-links-list a {
 margin-top: 30px;
 width: 120px;
}

.drawer-links-list a i {
  background: #FFFFFF;
  padding:10px;
  border-radius: 50%;
  width: 12px;
  text-align:center;
  margin-right: 15px;
}

.layout-drawer .social-links a {
  color: #3C6E71;
}

.layout-drawer .social-links a:hover {
  color: #9BD1E5;
}

