/* Projects Page Styles */




/* Normal Styles */

.projects-body {
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    
}

.projects-background {
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background: linear-gradient(
        to bottom,
        #fff5b3,
        #fff5b3 50%,
        #fff6d6 50%,
        #fff6d6
        );
    background-size: 100% 20px;
}

.card-intro {
    width: 100%;
    align-self: center;
    background:#fff;
}

.card-intro h1 {
    font-size: 36px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin: 10px;
    padding: 0;
}


.projects-body, .projects-body h2, .projects-body h3{
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}


.projects-body li, .projects-body ul {
    list-style: outside none none;
    text-decoration: none;
    padding: 0px;
}


.projects-body .cards h3 {
    font-size: 1.2em;
    margin:0px;
}

.projects-body .cards ul {
    font-size: 1em;
    margin:0px;
}

.projects-body .card-title {
    width: 340px;
    min-height: 120px;
    /*background: #753335; Card title default color */
    color: #D3D0CB;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 24px;
    text-shadow: 2px 0px #000;
    border-bottom: 1px solid #D3D0CB;
    background-image: linear-gradient(to bottom right, #b55b5b, #753335);
}

.card-title h2, .card-title h3 {
    margin: 0;
    padding: 0;
}

.cards-container {
    display:flex;
    flex-direction: column;
    width:100%;
    padding-bottom: 50px;
    margin-bottom: 30px;
}

.cards {
    margin-left:auto;
    margin-right:auto;
    padding:0;
}

.projects-body .card {
    background-color: #D3D0CB; /*Card text background*/
    margin: 10px;
    box-shadow: 0px 2px 2px 0px #7a320c;
}

.projects-body .card, .card-text, .card-text h4, .card-intro h1 {
    color: #353535;
}

.card-text {
    width: 340px;
    min-height:200px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap:nowrap;
    align-items: center;
    margin-right: 30px;
    margin:0;
    padding:0;
    text-align: left;
    color: #2B2226;
}

.card-text-inner {
    margin: 40px;
    margin-top: 0px;
}

.card-text h4 {
    font-size : 18px;
    font-weight: 700;
    margin:0;
    padding:0;
}

.card-title.blue-card {
    background-image: linear-gradient(to bottom right, #b55b5b, #3C6E71);
}
.card-title.green-card {
    background-image: linear-gradient(to bottom right, #8AEA92, #753335);
}
.card-title.orange-card {
    background-image: linear-gradient(to bottom right, #eca468, #753335);
}

.card-intro h5 {
    color: #D3D0CB;
    font-weight: 100;
}

.projects-body .nextpage-container {
    margin-top: 50x;
    margin-bottom:50px;
    padding: 10px;
    width: 300px;
    align-self: center;
    background: #9BD1E5;
    box-shadow: 0px 5px 5px 0px #FCAF58;
    border-radius: 2;
}

.nextpage-container a {
    font-weight:700;
    color: #3C6E71;
    text-decoration: none;
    font-size: 1.4em;
}

.nextpage-container:hover {
    background: #9fdef5;
    color: #49888c;
}

.project-type{
    align-self: flex-end;
    padding: 0;
    margin: 0;
    padding-right: 5px;
    padding-left: 5px;
    background-color: #353535;
}

.project-type h5 {
    font-size: 16px;
    margin: 5px;
}

.card-icon {
    padding: 15px;
    padding-bottom: 5px;
    font-size: 18px;
    text-shadow: none;
}


/* Small Screen Styles */
@media only screen and (max-width: 1024px) {

    .projects-body {
        margin-top: 50px;
    }
  }

.url-button {
    margin-bottom:10px;
}

.url-button a {
    font-size: 18px;
    font-weight: 700;
    color: #49888c;
    text-decoration: none;
}