/* Projects Page Styles */




/* Normal Styles */

.projects-body {
    height:100%;
    background-color: #171010;
    color: #D3D0CB;
    border-top: solid #171010 1px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.projects-body hr {
    color: #753335;
    background-color: #753335;
    width: 75%;  
    border-top: none;  
}

.projects-body h1, .projects-body h2, .projects-body h3{
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}


.projects-body li, .projects-body ul {
    list-style: outside none none;
    text-decoration: none;
    padding: 0px;
}


.projects-body .cards h3 {
    font-size: 1.2em;
    margin:0px;
}

.projects-body .cards ul {
    font-size: 1em;
    margin:0px;
}

.projects-body .card-title {
    width: 340px;
    /*background: #753335; Card title default color */
    color: #D3D0CB;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 24px;
    text-shadow: 2px 0px #000;
    border-bottom: 1px solid #fff;
    background-image: linear-gradient(to bottom right, #b55b5b, #753335);
}

.card-title h2, .card-title h3 {
    margin: 0;
    padding: 0;
}

.cards-container {
    display:flex;
    flex-direction: column;
    width:100%;
    background: #753335;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 30px;
}

.cards {
    margin-left:auto;
    margin-right:auto;
    padding:0;
}

.projects-body .card {
    background-color: #D3D0CB; /*Card text background*/
    color: #753335;
    margin: 10px;
    box-shadow: 0px 0px 20px #000;
}

.card-text {
    width: 340px;
    min-height:150px;
    background: #D3D0CB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap:nowrap;
    align-items: center;
    margin-right: 30px;
    margin:0;
    padding:0;
    text-align: left;
    color: #2B2226;
}

.card-text-inner {
    margin:40px;
}

.card-text h4 {
    font-size : 18px;
    font-weight: 700;
    margin:0;
    padding:0;
    color: #753335;
}

.card-title.blue-card {
    background-image: linear-gradient(to bottom right, #b55b5b, #3C6E71);
}
.card-title.green-card {
    background-image: linear-gradient(to bottom right, #8AEA92, #753335);
}
.card-title.orange-card {
    background-image: linear-gradient(to bottom right, #eca468, #753335);
}

.card-intro {
    max-width:600px;
    align-self: center;
    margin-top: -20px;
}

.card-intro h5 {
    color: #D3D0CB;
    font-weight: 100;
}

.projects-body .nextpage-container {
    margin-top: 50x;
    margin-bottom:50px;
    padding: 10px;
    width: 400px;
    align-self: center;
    background: #3C6E71;
    box-shadow: 0px 5px 5px #000;
}

.nextpage-container a {
    font-weight:100;
    color: #D3D0CB;
    text-decoration: none;
    font-size: 1.5em;
}

.nextpage-container a:hover {
    color: #fff;
}

.project-type{
    align-self: flex-end;
    padding: 0;
    margin: 0;
    padding-right: 5px;
    padding-left: 5px;
    background-color: #2B2226;
}

.project-type h5 {
    font-size: 16px;
    margin: 5px;
}

.card-icon {
    background-color: #2B2226;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-left: 10px;
}
.card-icon i {
    font-size: 24px;
    text-shadow: none;
}


/* Small Screen Styles */
@media only screen and (max-width: 1024px) {

    .projects-body {
        margin-top: 50px;
    }
  }