$dark-blue: #073B4C;
$med-blue:  #118AB2;
$light-blue:  #36beeb;
$offwhite-blue: #ade2f0;

$dark-yellow: sienna;
$med-yellow: goldenrod;
$light-yellow: #ffff66;

$white: white;
$black: black;
$light-gray: lightgray;

$contact-bg-pattern: linear-gradient(135deg, $dark-blue 21px, $med-blue 22px, $med-blue 24px, transparent 24px, transparent 67px, $med-blue 67px, $med-blue 69px, transparent 69px),
linear-gradient(225deg, $dark-blue 21px, $med-blue 22px, $med-blue 24px, transparent 24px, transparent 67px, $med-blue 67px, $med-blue 69px, transparent 69px)0 64px;
